{% extends "blog/base.html" %}
{% block content %}
    <div class="container posts-content shadow p-3 mb-8 bg-white rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h3>Are you sure you wanna delete the post <br> '{{ object.title }}'</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger shadow rounded" type="submit">Yes Delete!</button>
                <a class="btn btn-outline-secondary shadow rounded" href="{% url 'post-detail' object.id %}" type="submit">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}